<div class="container mt-5" style="text-align: center">
    <div *ngIf="!registerMode">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
        <div>
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg">Learn More</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row">
            <div class="col-12">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>